html, body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    background: white;
}
section{
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 30px;
    grid-template-columns: 200px auto;
}
section .header{
    grid-column: 1 / span 2;
    background: linear-gradient(90deg, #6a11cb, #3b82f6);
    line-height: 50px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .menu{
    background: #1e293b;
    color: white;
}
section .workspace{
    background: #f2f4f6;
}
section .footer{
    grid-column: 1 / span 2;
    background: linear-gradient(90deg, #6a11cb, #3b82f6);
    font-size: 8pt;
    line-height: 30px;
    color: white;
    text-align: center;
}
section .header .logo{
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
}
section .header .userinfo{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
section .header .userinfo img{
    height: 32px;
}
section .header .userinfo img:hover{
    cursor: pointer;
    opacity: 0.7;
}
section .menu nav{
    height: 100%;
    overflow: auto;
}
section .menu nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
section .menu nav ul li{
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    border-left: 5px solid transparent;
    padding-left: 5px;

    display: flex;
    align-items: center;
}
section .menu nav ul li img{
    height: 16px;
    margin-right: 10px;
}
section .menu nav ul li.active,
section .menu nav ul li:hover{
    cursor: pointer;
    background: #334155;
    border-left: 5px solid dodgerblue;
}
section .workspace iframe{
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}